// ===== Color
$colorPrimary: hsl(352, 75%, 60%);
$colorLight: hsl(252, 30%, 92%);
$colorWhite: hsl(252, 30%, 100%);
$colorGray: hsl(252, 15%, 65%);
$colorDark: hsl(252, 30%, 17%);

// ===== Font
$h1FontSize: 1.5rem;
$h2FontSize: 1.25rem;
$h3FontSize: 1rem;
$normalFontSize: 0.938rem;
$smallFontSize: 0.813rem;